<!DOCTYPE html>
<html lang="zxx">

<head>
    <a href="/"><img  src="../../public/img/dgimaa.jpg" alt="Logo" width="100" height="90"></a>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elsa, a multipurpose Template from Andreas Lautenschlager">
    <meta name="author" content="Andreas Lautenschlager - www.lautenschlager.de">

    <title>Elsa Theme - Multipurpose Template from Andreas Lautenschlager</title>

    <!-- normalize core CSS -->
    <link href="../../public/css/normalize.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/bootstrap/css/carousel.css" rel="stylesheet">
    <link href="../../public/bootstrap/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">

    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../public/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="../../public/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Fonts - Change if needed -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Menu shrinking -->
    <script type="text/javascript" src="../../public/js/menu.js"></script>

    <!-- Main styles of this template -->
    <link href="../../public/css/style.min.css?v=1.0.0" rel="stylesheet">

    <!-- Custom CSS. Input here your changes -->
    <link href="../../public/css/custom.css" rel="stylesheet">

</head>

<body>


<!-- Navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img class="logo" src="../../img/logo.png" alt="Logo"></a>
        </div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Main Page</li>
                        <li><a href="index.html">Index</a></li>
                        <li class="dropdown-header">Alternative Headers</li>
                        <li><a href="index-header-hero.html">Hero Image</a></li>
                        <li><a href="index-header-product.html">Product Feature</a></li>
                        <li><a href="index-header-newsletter.html">Newsletter</a></li>
                        <li><a href="index-header-carousel.html">Classic Carousel</a></li>
                        <li><a href="index-header-video.html">Video</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Company</li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="our-team.html">Our Team</a></li>
                        <li><a href="sales-page.html">Sales Page</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Creative</li>
                        <li><a href="about-me.html">About Me</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="portfolio-item.html">Portfolio Item</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Page Layouts<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Page Layouts</li>
                        <li><a href="full-width.html">Full Width</a></li>
                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="right-left-sidebar.html">Right &amp; Left Sidebar</a></li>
                        <li class="active"><a href="../master.ejs">404 Error</a></li>
                    </ul>
                </li>
                <li><a href="components.html">Components</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Standard Layout</li>
                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                        <li><a href="blog-single-post.html">Blog Single Post</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Creative Layout</li>
                        <li><a href="blog-full-width.html">Blog No Sidebar</a></li>
                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>





            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="../">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li>Offre de stage</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Offre de stage</h1>
            </div>
        </div>
    </div>
</section>


<div class="container" >
    <p style="font-size: 20px"><span style="font-size: 30px"><%=stage.titreOffre%></span> <br> <span><i class="fa fa-building" aria-hidden="true"></i> <%=stage.entreprise%> </span>
        <span style="color: white">hhhhhhhh</span>
        <span><i class="fa fa-map-marker" aria-hidden="true"></i> <%=stage.adresse%></span>

    <p><strong style="font-size: 15px;">Responsable :</strong> <%=stage.responsable%></p>
    <p><strong style="font-size: 15px;">Telephone : </strong><%=stage.telephones%></p>
    <p><strong style="font-size: 15px;">Email : </strong><%=stage.email%></p>
    <p><strong style="font-size: 15px;"> Site web :</strong> <%=stage.siteWeb%>  </p>
    <p><strong style="font-size: 15px;">Nombre de postes :</strong> <%=stage.nombrePostes%> </p>
    <p><strong style="font-size: 15px;">Description :</strong> <br> <%=stage.Description%></p>
    <p><strong style="font-size: 15px;">Missions :</strong> <br> <%=stage.Missions%></p>
    <p><strong style="font-size: 15px;">Compétences requises :</strong> <br> <%=stage.Competences%></p>


</div>
<!-- Scripts -->

<!-- Loads Bootstrap Main JS -->
<script src="../../public/bootstrap/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../public/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>
