<!DOCTYPE html>
<html lang="en">
  <!--<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <title>DGIMA</title>
  </head>-->


  <head>
    <a href="/"><img  src="../../public/img/dgimaa.jpg"  width="70" height="60"></a>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Elsa, a multipurpose Template from Andreas Lautenschlager">
		<meta name="author" content="Andreas Lautenschlager - www.lautenschlager.de">
	
		<title>DGIMA</title>
  
	
		<!-- normalize core CSS -->
		<link href="../public/css/normalize.css" rel="stylesheet">
	
		<!-- Bootstrap core CSS -->
		<link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../public/bootstrap/css/carousel.css" rel="stylesheet">
		<link href="../public/bootstrap/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
	
		<!-- Load jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="../public/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
		<script src="../public/bootstrap/js/ie-emulation-modes-warning.js"></script>
	
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	
		<!-- Google Fonts - Change if needed -->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700,300,600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
	
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
		<!-- Menu shrinking -->
		<script type="text/javascript" src="public/js/menu.js"></script>
	
		<!-- Main styles of this template -->
		<link href="../public/css/style.min.css?v=1.0.0" rel="stylesheet">
	
		<!-- Custom CSS. Input here your changes -->
		<link href="../public/css/custom.css" rel="stylesheet">
	    <script src="../public/js/google-map.js"></script>


	</head>
  <!-- Navigation -->
  <!--
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          -->
            
            
        </div>
        <!--
        
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
            
                  <li><a href="../">Acceuil</a></li>
                  <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">DGIMA<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"></li>
                        <li><a href="/event">Evenements</a></li>
                        <li><a href="/etudiant/affichepresse">Presse</a></li>
                        <li><a href="/etudiant/affichecertif">Certificats</a></li>
                    </ul>
                </li>




                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formation<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"></li>
                        <li><a href="index.html">Formation ingénieur </a></li>

                        <li><a href="">Masters</a></li>
                        <li><a href="">Doctorats</a></li>
                        <li><a href="index.html">Stages</a></li>
                        <li><a href="index-header-hero.html">Meilleurs Projets</a></li>
                        <li><a href="index-header-product.html">Lauréats</a></li>
                      
                    </ul>
                </li>

                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recherche<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"></li>
                        <li><a href="/recherche/laboratoires">Laboratoires</a></li>
                        <li><a href="/recherche/master">Masters</a></li>
                        <li><a href="/recherche/ecoleDoctorale">Doctorat</a></li>
                     </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entreprises<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"></li>
                        <li><a href="full-width.html">Visites Techniques</a></li>

                        <li><a href="full-width.html">Stages et PFE/PFA</a></li>
                        <li><a href="right-sidebar.html">Deposer Offre de Stage</a></li>
                        <li><a href="left-sidebar.html">Deposer Offre de Recrutement</a></li>
                        <li><a href="right-left-sidebar.html">Listes des Offres d'Emplois</a></li>
                        <li><a href="404.html">Partenariat</a></li>
                        <li class="dropdown-header">International</li>
                        <li><a href="blog-right-sidebar.html">Partenariat International</a></li>
                        <li><a href="blog-single-post.html">Offre Nourses Etranger</a></li>
            
                        <li><a href="blog-full-width.html">Mobilité International</a></li>
                        <li><a href="blog-left-sidebar.html">Etudiants Internationaux</a></li>                        </ul>
                </li>
             
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Se connecter<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"></li>
                        <li><a href="about-us.html">Contact</a></li>
                    </ul>
                </li>
          

            </ul>
        </nav>
          
       
    </div>
    
  
  
</div>
   -->
  <body>
    <div class="col-md-10 top-right">
      <ul class="breadcrumb">
          <li><a href="../">Home</a></li>
          <li><a href="/dashboard" role="button">Dashboard</a></li>
          </ul>

    <!--
    <div class="container">
      <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      
      <h1 class="text-center mb-3">
        <br>
      -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <!--
    <a class="btn btn-primary float:Right" href="/dashboard" role="button">Dashboard</a>
    <br>
        <i class="fas fa-user-plus"></i> Register
        -->
        <div class="container">
          <i class="fas fa-user-plus">
           

        
            <div class="col-md-6 m-auto">
          <div class="row margin-bottom-10">
      </h1>
      <%- include ("./partials/messages"); %>
      <form action="/admin/register" method="POST">
        
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <div class="form-group">
        <input
            type="name"
            id="name"
            name="admin"
            class="form-control"
            placeholder="Admin?"
            />
        </div>
        <div class="form-group">
        <input
            type="name"
                  id="name"
                  name="enseignant"
                  class="form-control"
                  placeholder="Enseignant?"
          />
          </div>
        <button type="submit" class="btn btn-primary" >
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>
    </div>
<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
crossorigin="anonymous"
></script>
</body>
</html>