<!DOCTYPE html>
<html lang="zxx">

<head>
    <a href="/"><img  src="../../public/img/dgimaa.jpg" alt="Logo" width="100" height="90"></a>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elsa, a multipurpose Template from Andreas Lautenschlager">
    <meta name="author" content="Andreas Lautenschlager - www.lautenschlager.de">

    <title>Elsa Theme - Multipurpose Template from Andreas Lautenschlager</title>

    <!-- normalize core CSS -->
    <link href="../../public/css/normalize.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/bootstrap/css/carousel.css" rel="stylesheet">
    <link href="../../public/bootstrap/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">

    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../public/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="../../public/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Fonts - Change if needed -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Menu shrinking -->
    <script type="text/javascript" src="../../public/js/menu.js"></script>

    <!-- Main styles of this template -->
    <link href="../../public/css/style.min.css?v=1.0.0" rel="stylesheet">

    <!-- Custom CSS. Input here your changes -->
    <link href="../../public/css/custom.css" rel="stylesheet">

</head>

<body>


<!-- Navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img class="logo" src="../../img/logo.png" alt="Logo"></a>
        </div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Main Page</li>
                        <li><a href="index.html">Index</a></li>
                        <li class="dropdown-header">Alternative Headers</li>
                        <li><a href="index-header-hero.html">Hero Image</a></li>
                        <li><a href="index-header-product.html">Product Feature</a></li>
                        <li><a href="index-header-newsletter.html">Newsletter</a></li>
                        <li><a href="index-header-carousel.html">Classic Carousel</a></li>
                        <li><a href="index-header-video.html">Video</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Company</li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="our-team.html">Our Team</a></li>
                        <li><a href="sales-page.html">Sales Page</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Creative</li>
                        <li><a href="about-me.html">About Me</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="portfolio-item.html">Portfolio Item</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Page Layouts<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Page Layouts</li>
                        <li><a href="full-width.html">Full Width</a></li>
                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="right-left-sidebar.html">Right &amp; Left Sidebar</a></li>
                        <li class="active"><a href="../master.ejs">404 Error</a></li>
                    </ul>
                </li>
                <li><a href="components.html">Components</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Standard Layout</li>
                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                        <li><a href="blog-single-post.html">Blog Single Post</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Creative Layout</li>
                        <li><a href="blog-full-width.html">Blog No Sidebar</a></li>
                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>




<!-- Page Header -->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li>All</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Offres de stages</h1>
            </div>
        </div>
    </div>
</section>



<div class="container">
    <h3><a href="/recrutement" class="btn btn-secondary"><i class="fa fa-plus"></i> Create New</a> Stage List</h3>
    <h5>Offres de stages</h5>
    <form action="/stage/search" method="get">
        <input type="text" name="kw" style="border-radius: 5px"><span style="color: white">hhhh</span><button class="btn" style="background-color: orangered" type="submit">Chercher</button>
    </form>
    <div>
        <%if(list.length>0){%>
        <%for(var i=0;i< list.length;i++){%>
        <div style="border: 2px solid black;height: 120px;margin-top: 20px">
            <%=i+1%>
            <div class="row"><div class="col-md-2" style="">

                </div>
                <div class="col-md-8">
                    <h3 class="text-danger"><%=list[i].titreOffre%> </h3>
                    <h4><span><i class="fa fa-building" aria-hidden="true"></i> <%=list[i].entreprise%> </span>
                        <span style="color: white">hhhhhhhh</span>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i> <%=list[i].adresse%></span>
                    </h4>
                </div>
                <div class="col-md-2">
                    <div>
                        <p><%=new Date(list[i].publication).getDate()+"/"+(new Date(list[i].publication).getMonth()+1)+"/"+new Date(list[i].publication).getFullYear()%></p>
                        <a href="/recrutement/description/<%=list[i]._id%>" class="btn">Voir plus</a>
                        <a href="/recrutement/<%=list[i]._id%>"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a><span style="color: white">hh</span>
                        <a href="/recrutement/delete/<%=list[i]._id%>" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </div>
                </div></div>
        </div>
        <%}%>
        <br>
        <div class="text-center">
            <% if (pages > 0) { %>
                <ul class="pagination">
                    <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link">First</a></li>
                    <% } else { %>
                        <li><a class="page-link" href="/recrutement/search?page=1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li><a class="page-link" href="/recrutement/search?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">Last</a></li>
                    <% } else { %>
                        <li><a class="page-link" href="/recrutement/search?page=<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
        <%}%>
    </div>
</div>
</div>





<!-- Scripts -->

<!-- Loads Bootstrap Main JS -->
<script src="../../public/bootstrap/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../public/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>
